# Python specific
*.pyc
*.pyo
__pycache__/

# Virtual environments
.venv/
venv/
env/
env.bak/

# IDE specific
.vscode/
.idea/

# Compiled files
*.pyd
*.pyc
*.pyo
*.pyz
*.pyw
*.pyz/
*.pyw/
*.exe
*.dll
*.so
*.dylib

# Logs and databases
*.log
*.sqlite3
*.db

# Miscellaneous
.DS_Store
Thumbs.db